<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ro'yxatdan o'tish yakunlandi</title>
</head>
<body>
    <h3 style= "text-align: center; width: 700px; margin: auto; margin-top: 60px">
        Saytimizda ro'yxatdan o'tganingiz uchun rahmat.
        Sizning elektron pochtangizga emailingizni tasdiqlash uchun
        xabar yuborildi. Iltimos saytdan foydalanish uchun avval emailingizni tasdiqlang.
    </h3>
</body>
</html>